{{#each movies as |movie|}}

  <ul data-id="{{movie.id}}">
    <li> <strong>Title:<br></strong> {{movie.title}} <br><strong>Director:<br></strong> {{movie.director}} <br> <strong>Summary:<br></strong> {{movie.summary}}<br><strong>Genre: </strong> {{movie.genre}} <strong>Runtime:</strong> {{movie.runtime}}<strong> Year Released: </strong>{{movie.year_release}}</li>
    <li><button class="btn btn-info btn-sm delete-movie">Delete</button></li>
     <li><button class= "edit-movie-button btn btn-info btn-sm">Edit</button></li>
     <form class="edit-movie form-inline" id="edit-movie-{{movie.id}}">
     <fieldset>
                   <input type="text" name="movie[title]" class="form-control" value="{{movie.title}}">
                   <input type="text" name="movie[director]" class="form-control" value="{{movie.director}}">
                   <input type="text" name="movie[summary]" class="form-control" value="{{movie.summary}}">
                   <input type="text" name="movie[genre]" class="form-control" value={{movie.genre}}>
                   <input type="text" name="movie[runtime]" class="form-control" value={{movie.runtime}}>
                   <input type="text" name="movie[year_released]" class="form-control" value={{movie.year_release}}>
                   <input type="submit" name="submit" class="btn btn-primary btn-sm" value="save" id="save">
    </fieldset>
      </form>
  </li>
  </ul>

{{/each}}
