{{#each movies as |movie|}}

  <ul data-id="{{movie.id}}">
    <li> Title <strong>{{movie.title}}</strong> Director <strong>{{movie.director}}</strong> Summary: <strong>{{movie.summary}}</strong> Genre: <strong>{{movie.genre}}</strong> Runtime: <strong>{{movie.runtime}}</strong> Year Released <strong>{{movie.year_release}}</strong></li>
    <li><button id="delete-movie" class="btn btn-primary">Delete Movie</button></li>
  </li>
  </ul>

{{/each}}
